.no-overlay {
  display: none;
}
.context-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("/public/images/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
}
.context-overlay button {
  color: #f0f;
  border: 2px solid #f0f;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.context-overlay button:hover {
  transform: scale(1.03);
}
h1.tagline {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .context-overlay {
    padding-top: 20%;
  }
  img.logo {
    max-width: 75%;
  }
  h1.tagline {
    font-size: 0.75rem;
  }
  .context-overlay button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
