:root {
  --bg: #000000;
  --gray: #232323;
  --text: #fff5f5;
  --green: #b2d430;
  --blue: #1a8b9d;
  --shadow: #d430b3;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.landing > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.landing > a:visited {
  color: var(--text);
}

button#sessionStart {
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

.sessionStart:hover {
  transform: scale(1.03);
}

.sessionStart:active {
  box-shadow: none;
}

.sessionStart:focus {
  outline: 0;
}
