:root {
  --bg: #000000;
  --gray: #232323;
  --text: #fff5f5;
  --green: #b2d430;
  --blue: #1a8b9d;
  --shadow: #d430b3;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("/public/images/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

img.logo {
  width: 700px;
}

.call-to-action {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 0 1rem;
}

h1.tagline {
  color: #dfdf7a;
  text-shadow: 0 0 10px black;
  font-size: 2rem;
  margin-bottom: 2em;
  text-align: center;
  font-family: "Press Start 2P";
}

.landing a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.landing a:visited {
  color: var(--text);
}

button#sessionStart {
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.sessionStart:hover {
  transform: scale(1.03);
}

.sessionStart:active {
  box-shadow: none;
}

.sessionStart:focus {
  outline: 0;
}
@media (max-width: 768px) {
  img.logo {
    max-width: 75%;
  }
  h1.tagline {
    font-size: 1.25rem;
  }
  button#sessionStart {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
