.seq-square {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border: 2px solid var(--gray);
}
.seq-square[aria-checked="true"] {
  background-color: var(--blue);
}
.active-beat {
  border: 2px solid var(--text);
}
.row-controls {
  display: flex;
  background-color: #111;
  margin-bottom: 0.5rem;
  align-items: center;
  width: 100%;
}
.row-controls p {
  /* TEMPORARY UNTIL CONTROLS BUILT OUT */
  color: #aaa;
  flex: 1;
  text-align: center;
}

.step-squares {
  /* width: 800px; */
  max-width: 100%;
  display: flex;
}

.step-row {
  justify-content: center;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 1rem 0;
}

.launch-btn {
  height: 64px;
  width: 96px;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid var(--gray);
  user-select: none;
  box-sizing: border-box;
}

.active-launch {
  border: 2px solid var(--blue);
}

@media (max-width: 1088px) {
  .step-squares {
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .seq-square {
    margin-bottom: 0.5em;
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 640px) {
  .step-squares {
    max-width: 400px;
  }
  .seq-square {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 450px) {
  .step-squares {
    max-width: 300px;
  }
  .seq-square {
    width: 75px;
    height: 75px;
  }
}
