#synth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 50px;
}
#synth {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  touch-action: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 10px 0 0;
  margin-bottom: 4rem;
}
#mono-synth-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  overflow: hidden;
}
.synth-sliders {
  width: 600px;
  box-sizing: border-box;
  columns: 3;
}
.synth-param {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  color: whitesmoke;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
.synth-wave {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  box-sizing: border-box;
  width: 600px;
  min-height: 64px;
}
.synth-param p.label {
  /* flex: 1; */
  font-size: 0.6rem;
}

.label span {
  color: var(--blue);
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  font-size: 0.75rem;
}

.synth-squares {
  width: calc((50px + (0.125rem * 2)) * 8);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.synth-square-row {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1rem;
}

.synth-square {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--synth);
  margin: 0.125rem;
  background-color: #111;
}
.synth-square.on-beat {
  border: 2px solid var(--synthHL);
}

.synth-square.active-square {
  background-color: var(--synth);
  background: var(--blueGradient);
}
.synth-square.active-beat,
.synth-square.synth-square.active-beat.on-beat {
  border: 2px solid whitesmoke;
}

.toggle {
  color: var(--synth);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #000;
  /* background-color: var(--sampler); */
  z-index: 2;
}
.chevron {
  cursor: pointer;
  transition: var(--transitionTime) all ease;
  display: flex;
  align-items: center;
}
.rotate {
  transform: rotate(0.5turn);
}

div.controls {
  transition: var(--transitionTime);
  background-color: var(--gray);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synth-launch,
.clear-synth-pattern {
  background-color: var(--synth);
  background: var(--blueGradient);
  padding: 0.25rem 1.5rem;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear-synth-pattern {
  padding: 1rem;
}
#arp {
  width: 100%;
}
#arp-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  touch-action: none;
  user-select: none;
}

.arp-square {
  height: 15vh;
  flex-basis: 33.3333%;
  box-sizing: border-box;
  border: 3px solid black;
  background-color: var(--synth);
  background: var(--blueGradient);
  transition: 100ms;
  touch-action: none;
  user-select: none;
  border-radius: 10px;
}
.arp-square.root {
  background-color: var(--synthHL);
}
.arp-square.selected {
  background-color: var(--synthContrast);
  background: var(--blueGradientHL);
}
.arp-square.selected.root {
  background-color: var(--synthContrastHL);
}
#arp-fx {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}
.hold,
.hold-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.hold-btn {
  margin-top: 1rem;
  flex: 1;
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--synth);
  background: var(--blueGradient);

  width: 4rem;
  height: 2rem;
  color: #eee;
}
.hold-btn.enabled {
  background-color: var(--synthContrast);
  background: var(--blueGradientHL);
}

.synth-tabs {
  height: 3rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
}
.synth-tabs > div {
  width: 50%;
  height: 100%;
  background-color: var(--gray);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.synth-tabs > div.selected {
  background-color: var(--sampler);
  background: linear-gradient(
    180deg,
    rgba(119, 119, 119, 1) 0%,
    rgba(35, 35, 35, 1) 100%
  );
}

.synth-effects-playground {
  width: 100%;
}
.xy-pads {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.preset-select select {
  font-size: 1.5rem;
  padding: 0.25rem 2rem 0.25rem 0.5rem;
  background: var(--gray);
  color: whitesmoke;
  border: none;
  -webkit-appearance: none;
}
.preset-select {
  position: relative;
}
span.select-arrow {
  display: block;
  background: #111;
  width: 2rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
span.select-arrow::before,
span.select-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
span.select-arrow::before {
  top: 1rem;
  left: 0.5rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--blue);
}
@media (max-width: 768px) {
  .synth-squares {
    /* width: 500px; */
    width: calc((48px + (0.125rem * 2)) * 8);
    /* margin-bottom: 64px; */
  }
  /* .synth-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    columns: 1;
  } */
  .synth-square {
    width: 48px;
    height: 48px;
  }
  #mono-synth-controls {
    width: 100%;
  }
  .synth-wave {
    width: 100%;
    justify-content: center;
    /* display: block; */
    flex-direction: column;
    min-height: 196px;
  }
  .MuiFormControl-root {
    width: 100px;
    align-items: center;
  }
  .MuiFormGroup-root.MuiFormGroup-row {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  /* .MuiFormGroup-root.MuiFormGroup-row > label {
    width: 100%;
  } */
  .synth-sliders {
    /* flex-direction: column; */
    width: 100%;
    /* align-items: center; */
    display: block;
    columns: 1;
  }
  .synth-param {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .synth-squares {
    background-color: #111;
    width: calc((50px + (0.125rem * 2)) * 8);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 480px) {
  #mono-synth-controls {
    width: 100%;
  }

  .synth-squares {
    width: calc((32px + (0.125rem * 2)) * 8);
    max-width: 320px;
  }
  .synth-square {
    width: 32px;
    height: 32px;
  }
  .synth-square-row {
    margin: 0.5rem 0;
  }
}
@media (max-width: 375px) {
  .synth-effects-playground {
    flex-direction: column;
  }
  .xy-pads,
  .hold {
    margin: 0.5rem 0;
  }
  .synth-square {
    height: 24px;
  }

  .clear-synth-pattern {
    font-size: 0.5rem;
    height: 3rem;
  }
  .synth-launch {
    padding: 0.5rem 1rem;
    height: 3rem;
  }
  .preset-select select {
    font-size: 1rem;
  }
}
