#synth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  touch-action: none;
  margin-bottom: 4rem;
}
#mono-synth-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  overflow: hidden;
}
.synth-sliders {
  width: 600px;
  box-sizing: border-box;
  columns: 3;
}
.synth-param {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  color: whitesmoke;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
.synth-wave {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  box-sizing: border-box;
  width: 600px;
  min-height: 64px;
}
.synth-param p.label {
  /* flex: 1; */
  font-size: 0.6rem;
}

.label span {
  color: var(--blue);
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  font-size: 0.75rem;
}

.synth-squares {
  background-color: #111;
  /* width: 100%; */
  width: calc((50px + (0.125rem * 2)) * 8);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.synth-square-row {
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem 0;
}

.synth-square {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--blue);
  margin: 0.125rem;
}
.synth-square.on-beat {
  border: 2px solid var(--highlight);
}

.synth-square.active-square {
  background-color: var(--blue);
}
.synth-square.active-beat,
.synth-square.synth-square.active-beat.on-beat {
  border: 2px solid whitesmoke;
}

.toggle {
  color: var(--blue);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
  border-top: 3px solid #000;
  background-color: var(--sampler);
  z-index: 2;
}
.chevron {
  cursor: pointer;
  transition: var(--transitionTime) all ease;
  display: flex;
  align-items: center;
}
.rotate {
  transform: rotate(0.5turn);
}

div.controls {
  transition: var(--transitionTime);
  background-color: var(--gray);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synth-launch {
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
#arp {
  width: 100%;
}
#arp-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  touch-action: none;
  user-select: none;
  padding-top: 1rem;
}

.arp-square {
  height: 15vh;
  flex-basis: 32%;
  margin: 2px;
  background-color: var(--blue);
  transition: 100ms;
  touch-action: none;
  user-select: none;
}
.arp-square.root {
  background-color: var(--highlight);
}
.arp-square.selected {
  background-color: #aa33aa;
}
.arp-square.selected.root {
  background-color: #ff33ff;
}
#arp-fx {
  background-color: var(--gray);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}
.hold-btn {
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  width: 4rem;
  color: #eee;
}
.hold-btn.enabled {
  background-color: #aa33aa;
}
.synth-tabs {
  height: 3rem;
  width: 100%;
  display: flex;
}
.synth-tabs > div {
  width: 50%;
  height: 100%;
  background-color: var(--gray);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.synth-tabs > div.selected {
  background-color: var(--sampler);
}
@media (max-width: 768px) {
  .synth-squares {
    /* width: 500px; */
    width: calc((48px + (0.125rem * 2)) * 8);
    /* margin-bottom: 64px; */
  }
  /* .synth-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    columns: 1;
  } */
  .synth-square {
    width: 48px;
    height: 48px;
  }
  #mono-synth-controls {
    width: 500px;
  }
  .synth-wave {
    width: 100%;
    justify-content: center;
    /* display: block; */
    flex-direction: column;
    min-height: 196px;
  }
  .MuiFormControl-root {
    width: 100px;
    align-items: center;
  }
  .MuiFormGroup-root.MuiFormGroup-row {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  /* .MuiFormGroup-root.MuiFormGroup-row > label {
    width: 100%;
  } */
  .synth-sliders {
    /* flex-direction: column; */
    width: 100%;
    /* align-items: center; */
    display: block;
    columns: 1;
  }
  .synth-param {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #mono-synth-controls {
    width: 320px;
  }

  .synth-squares {
    width: calc((32px + (0.125rem * 2)) * 8);
    max-width: 320px;
  }
  .synth-square {
    width: 32px;
    height: 32px;
  }
  .synth-square-row {
    margin: 0.5rem 0;
  }
}
@media (max-width: 375px) {
  .synth-square {
    height: 24px;
  }
  .synth-launch {
    padding: 0.25rem 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .synth-squares {
    background-color: #111;
    width: calc((50px + (0.125rem * 2)) * 8);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}
