#transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  /* user-select: none; */
  /* -webkit-user-select: none; */
}

.transport-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.transport-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text);
}

.share-btn {
  color: #ffffff;
}
.play-stop {
  flex: 3;
  display: flex;
  justify-content: center;
}
.share-btn-div {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transport-bottom-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  min-width: 300px;
  color: var(--text);
}

.transport-bottom-row > div {
  width: 100%;
  margin-right: 2rem;
}

.transport-label {
  font-size: 0.75rem;
}

.transport-instrument-select {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.transport-instrument-button {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s cubic-bezier(0.3, 0.54, 0.77, 0.95);
  user-select: none;
  -webkit-user-select: none;
}

.transport-instrument-button.sampler {
  background-color: var(--blue);
}
.transport-instrument-button.synth {
  background-color: var(--synth);
}

.transport-instrument-button.selected {
  border: 2px solid white;
  transition: all 0.2s cubic-bezier(0.3, 0.54, 0.77, 0.95);
}

.transport-instrument-button:hover {
  cursor: pointer;
}

.transport-instrument-icon {
  max-height: 75%;
  width: auto;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 1088px) {
  #transport {
    flex-direction: column-reverse;
  }
  .transport-top-row {
    justify-content: center;
    align-items: center;
  }
  .share-btn-div,
  .play-stop {
    flex: 1;
  }
  .share-btn-div {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  /* .transport-instrument-select {
    display: none;
  } */
}
