.xy {
  width: 8rem;
  height: 8rem;
  background-color: #111;
  position: relative;
  margin: 1rem 0;
}

.xy-ball {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--blue);
  position: absolute;
}
@media (max-width: 375px) {
  .xy {
    width: 96px;
    height: 96px;
  }
}
