:root {
  --bg: #000000;
  --gray: #232323;
  --text: #fff5f5;
  --green: #86d729;
  --synth: #1a8b9d;
  --synthHL: #68c4d2;
  --synthContrast: #33cccc;
  --synthContrastHL: #66ffff;
  --blue: #1a8b9d;
  --highlight: #68c4d2;
  --sampler: #616161;
  --transitionTime: 0.4s;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.fullPage {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  background: url("/public/images/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
  box-sizing: border-box;
  height: 100vh;
  user-select: none;
}

.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
}

.flex-row {
  display: flex;
}

span,
p {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
